body {
  margin: 5% 10%;
  font-family: sans-serif;
  text-align: left;
}

h1 {
  text-align: center;
  margin: 5% 0;
}

h2 {
  text-align: center;
}

.headshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
  max-width: 30%;
}

.essay{
  line-height: 1.5;
}

#blurb {
  padding: 2% 0 3%;
  line-height: 1.5;
}

footer {
  padding: 2% 0;
}
