body {
  font-family: sans-serif;
  font-size: large;
  text-align: left;
}

h1 {
  text-align: center;
  padding: 2% 0;
}

.h2center{
  text-align: center;
}

.headshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
}

.figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.essay{
  line-height: 1.5;
}

.bio {
  padding: 2% 0 3%;
  line-height: 1.5;
}

.byline {
  text-align: center;
  padding: 2% 0 3%;
}

footer {
  font-size: small;
  padding: 2% 0;
}

@media screen and (max-width: 629px) {
  /* comes into effect for screens less than or equal to 629 pixels */
  body {margin: 5vw 5vw;
  }
  .headshot{
    max-width: 50vw;
  }
  .figure{
    max-width: 90vw;
  }
}

@media screen and (min-width: 630px) {
  /* comes into effect for screens larger than or equal to 630 pixels */
  body {margin: 5vw 10vw;
  }
  .headshot{
    max-width: 6.5cm;
  }
  .figure{
    max-width: 50vw;
  }
}
